# The Weather Data set by Descision Tree and Random Forest 

In here you can see there is a weather data set and which was trained by Descision Tree and Random Forest. Here we have to decide what are X and y parameters before train the model. In this model output y variable is Sunny. End of the code we can compute the probability of sunny which may happen or not.




1.   Decision Tree



*   Considering given data trained by Decision tree and finally able to get a result, the accuracy of the weather data set. 

 accuracy 0.82


2.  Random Forest

*   And also considering given data we could get a result of accuracy of model by using Random Forest.

 accuracy 0.91

Therefore considering above two results we can determine what is the best way to train such kind of model.

Import libraries

In [254]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Data file import from GIT

In [255]:
!git clone 'https://github.com/sachinkavindaa/Machine-learning-with-Python'

fatal: destination path 'Machine-learning-with-Python' already exists and is not an empty directory.

Read CSV file

In [256]:
df = pd.read_csv('/content/Machine-learning-with-Python/ML/Weather/Weather.csv')
df

           Date  T Max  T Min  Wind  ...  Humidity  Precip  Pressure        Weather
0      1/1/2010     30     22     7  ...        69     0.0      1011          Sunny
1      1/2/2009     30     22     7  ...        68     0.0      1012          Sunny
2      1/3/2009     30     22     7  ...        68     0.0      1012          Sunny
3      1/4/2009     31     22     7  ...        73     0.0      1011          Sunny
4      1/5/2009     30     23     7  ...        76     0.4      1010  Partly couldy
..          ...    ...    ...   ...  ...       ...     ...       ...            ...
360  12/27/2009     29     23     5  ...        86     0.0      1011  Partly couldy
361  12/28/2009     29     24     5  ...        86     0.0      1011  Partly couldy
362  12/29/2009     29    247     7  ...        85     0.1      1011  Partly couldy
363  12/30/2009     29     23     4  ...        87     2.5      1011         Cloudy
364  12/31/2009     30     23     4  ...        81     0.7      1010          Sunny

[365 rows x 9 columns]

In [257]:
df.head()

       Date  T Max  T Min  Wind  ...  Humidity  Precip  Pressure        Weather
0  1/1/2010     30     22     7  ...        69     0.0      1011          Sunny
1  1/2/2009     30     22     7  ...        68     0.0      1012          Sunny
2  1/3/2009     30     22     7  ...        68     0.0      1012          Sunny
3  1/4/2009     31     22     7  ...        73     0.0      1011          Sunny
4  1/5/2009     30     23     7  ...        76     0.4      1010  Partly couldy

[5 rows x 9 columns]

Define the columns

In [258]:
df.columns

Index(['Date', 'T Max', 'T Min', 'Wind', 'Could', 'Humidity', 'Precip',
       'Pressure', 'Weather'],
      dtype='object')

In [259]:
df.shape

(365, 9)

Describe the each columns and finally able to get below graph

In [260]:
df.describe()

            T Max       T Min        Wind  ...    Humidity      Precip     Pressure
count  365.000000  365.000000  365.000000  ...  365.000000  365.000000   365.000000
mean    28.978082   25.156164   12.424658  ...   82.063014    0.818356  1005.265753
std      1.758671   11.689210    5.719923  ...    5.329152    1.431597    67.230725
min      8.000000   21.000000    3.000000  ...   64.000000    0.000000   101.000000
25%     28.000000   24.000000    7.000000  ...   80.000000    0.000000  1009.000000
50%     29.000000   25.000000   12.000000  ...   83.000000    0.200000  1010.000000
75%     30.000000   25.000000   17.000000  ...   86.000000    1.100000  1011.000000
max     33.000000  247.000000   24.000000  ...   92.000000   11.400000  1014.000000

[8 rows x 7 columns]

Whether check data set have non-null count

In [261]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      365 non-null    object
 1   T Max     365 non-null    int64
 2   T Min     365 non-null    int64
 3   Wind      365 non-null    int64
 4   Could     365 non-null    int64
 5   Humidity  365 non-null    int64
 6   Precip    365 non-null    float64
 7   Pressure  365 non-null    int64
 8   Weather   365 non-null    object
dtypes: float64(1), int64(6), object(2)
memory usage: 25.8+ KB

YES! there is a no non- null count in the data set

In [262]:
df.isnull().any()

Date        False
T Max       False
T Min       False
Wind        False
Could       False
Humidity    False
Precip      False
Pressure    False
Weather     False
dtype: bool

In [263]:
#round(100*(df.isnull().sum()/len(df.index)),2)

Drop the Time column

In [264]:
df.drop(['Date'],axis='columns',inplace=True)
df.head()

   T Max  T Min  Wind  Could  Humidity  Precip  Pressure        Weather
0     30     22     7      4        69     0.0      1011          Sunny
1     30     22     7      3        68     0.0      1012          Sunny
2     30     22     7      1        68     0.0      1012          Sunny
3     31     22     7      8        73     0.0      1011          Sunny
4     30     23     7     29        76     0.4      1010  Partly couldy

Define the weather column. Then we can there are eight changing variables in the Weather column

In [265]:
df['Weather'].value_counts()

Partly couldy                    182
Sunny                            128
Cloudy                            31
Light rain shower                  9
Patchy rain possible               5
Thundery outbreaks possible        4
Overcast                           4
Moderate or heavy rain shower      2
Name: Weather, dtype: int64

Convert string to binary

In [266]:
dummies = pd.get_dummies(df.Weather)

In [267]:
merged = pd.concat([df,dummies],axis ='columns')
merged.head()

   T Max  T Min  Wind  ...  Patchy rain possible  Sunny  Thundery outbreaks possible
0     30     22     7  ...                     0      1                            0
1     30     22     7  ...                     0      1                            0
2     30     22     7  ...                     0      1                            0
3     31     22     7  ...                     0      1                            0
4     30     23     7  ...                     0      0                            0

[5 rows x 16 columns]

Drop the Weather column, we do not need it anymore

In [268]:
final = merged.drop(['Weather'],axis ='columns')
final.head()

   T Max  T Min  Wind  ...  Patchy rain possible  Sunny  Thundery outbreaks possible
0     30     22     7  ...                     0      1                            0
1     30     22     7  ...                     0      1                            0
2     30     22     7  ...                     0      1                            0
3     31     22     7  ...                     0      1                            0
4     30     23     7  ...                     0      0                            0

[5 rows x 15 columns]

Define X and y axis using the given data set. Here we considered Sunny as the y variable

In [269]:
X = final.drop(['Partly couldy','Sunny','Cloudy','Light rain shower','Patchy rain possible','Overcast','Thundery outbreaks possible','Moderate or heavy rain shower'], axis=1)
y = final['Sunny']

Split availabe dataset into training and test using

In [270]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=101)

Import decision tree libary and define regressor as Descision tree regressor

In [271]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

Test accuracy of the trained data set corresponding to the Decision tree

In [272]:
regressor.score(X_test,y_test)

0.17478260869565232

Prediction

In [273]:
y_pred = regressor.predict(X_test)

In [274]:
from sklearn.metrics import classification_report,confusion_matrix

In [275]:
print(confusion_matrix(y_test,y_pred))
print('\n')
print(classification_report(y_test,y_pred))

[[81 19]
 [ 7 39]]


              precision    recall  f1-score   support

           0       0.92      0.81      0.86       100
           1       0.67      0.85      0.75        46

    accuracy                           0.82       146
   macro avg       0.80      0.83      0.81       146
weighted avg       0.84      0.82      0.83       146

In [276]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

     Actual  Predicted
317       0        0.0
95        0        0.0
210       0        0.0
189       1        0.0
306       0        0.0
..      ...        ...
195       0        0.0
178       0        0.0
246       0        0.0
135       0        0.0
265       0        0.0

[146 rows x 2 columns]

In [277]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.1780821917808219
Mean Squared Error: 0.1780821917808219
Root Mean Squared Error: 0.42199785755477703

Import Random Forest libary

In [278]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=200)
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

Test accuracy of the data set using Random Forest

In [279]:

model.score(X_test,y_test)

0.910958904109589

In [280]:
prediction = model.predict(X_test)

In [281]:
print(confusion_matrix(y_test,prediction))
print('\n')
print(classification_report(y_test,prediction))

[[94  6]
 [ 7 39]]


              precision    recall  f1-score   support

           0       0.93      0.94      0.94       100
           1       0.87      0.85      0.86        46

    accuracy                           0.91       146
   macro avg       0.90      0.89      0.90       146
weighted avg       0.91      0.91      0.91       146

In [282]:

from tabulate import tabulate
probabilities = model.predict_proba(X_test)

print(tabulate(probabilities, headers='keys', tablefmt='psql'))

+-------+-------+
|     0 |     1 |
|-------+-------|
| 0.99  | 0.01  |
| 0.7   | 0.3   |
| 0.975 | 0.025 |
| 0.695 | 0.305 |
| 0.95  | 0.05  |
| 0.66  | 0.34  |
| 0.885 | 0.115 |
| 0.505 | 0.495 |
| 1     | 0     |
| 0.965 | 0.035 |
| 0.02  | 0.98  |
| 0.895 | 0.105 |
| 0.935 | 0.065 |
| 0.965 | 0.035 |
| 0.975 | 0.025 |
| 0.185 | 0.815 |
| 0.975 | 0.025 |
| 0.63  | 0.37  |
| 0.38  | 0.62  |
| 0     | 1     |
| 0.11  | 0.89  |
| 0.59  | 0.41  |
| 0.11  | 0.89  |
| 0.275 | 0.725 |
| 0.93  | 0.07  |
| 1     | 0     |
| 0.73  | 0.27  |
| 0.005 | 0.995 |
| 0.905 | 0.095 |
| 0.505 | 0.495 |
| 0.84  | 0.16  |
| 0.99  | 0.01  |
| 0.925 | 0.075 |
| 0.205 | 0.795 |
| 1     | 0     |
| 1     | 0     |
| 0.37  | 0.63  |
| 1     | 0     |
| 1     | 0     |
| 0.09  | 0.91  |
| 0.615 | 0.385 |
| 0.005 | 0.995 |
| 0.88  | 0.12  |
| 0.155 | 0.845 |
| 0.795 | 0.205 |
| 0.1   | 0.9   |
| 0.715 | 0.285 |
| 0.78  | 0.22  |
| 0.16  | 0.84  |
| 1     | 0     |
| 0.73  | 0.27  |
| 0.09  | 0.91  |
| 0.99  | 0.01  |
| 0.03  | 0.97  |
| 0.04  | 0.96  |
| 0.19  | 0.81  |
| 0.02  | 0.98  |
| 0.035 | 0.965 |
| 1     | 0     |
| 0.68  | 0.32  |
| 0.165 | 0.835 |
| 0.045 | 0.955 |
| 0.985 | 0.015 |
| 0.725 | 0.275 |
| 0.715 | 0.285 |
| 0.915 | 0.085 |
| 0.995 | 0.005 |
| 0.785 | 0.215 |
| 0.305 | 0.695 |
| 0.01  | 0.99  |
| 0.995 | 0.005 |
| 0.96  | 0.04  |
| 1     | 0     |
| 0.405 | 0.595 |
| 0.02  | 0.98  |
| 0.755 | 0.245 |
| 0.045 | 0.955 |
| 0.905 | 0.095 |
| 0.995 | 0.005 |
| 0.96  | 0.04  |
| 0.88  | 0.12  |
| 0.02  | 0.98  |
| 0.875 | 0.125 |
| 0.105 | 0.895 |
| 1     | 0     |
| 0.015 | 0.985 |
| 0.005 | 0.995 |
| 0.78  | 0.22  |
| 0.995 | 0.005 |
| 0.035 | 0.965 |
| 0.625 | 0.375 |
| 1     | 0     |
| 0.94  | 0.06  |
| 0.92  | 0.08  |
| 0.1   | 0.9   |
| 1     | 0     |
| 0.135 | 0.865 |
| 0.995 | 0.005 |
| 0.02  | 0.98  |
| 0.005 | 0.995 |
| 0.885 | 0.115 |
| 0.935 | 0.065 |
| 0.075 | 0.925 |
| 0.99  | 0.01  |
| 0.63  | 0.37  |
| 0.895 | 0.105 |
| 0     | 1     |
| 1     | 0     |
| 1     | 0     |
| 0.65  | 0.35  |
| 0.62  | 0.38  |
| 0.82  | 0.18  |
| 1     | 0     |
| 0.005 | 0.995 |
| 0.95  | 0.05  |
| 0.975 | 0.025 |
| 0.995 | 0.005 |
| 0.745 | 0.255 |
| 0.86  | 0.14  |
| 0.415 | 0.585 |
| 0.73  | 0.27  |
| 0.89  | 0.11  |
| 0.88  | 0.12  |
| 0     | 1     |
| 0.885 | 0.115 |
| 1     | 0     |
| 0.995 | 0.005 |
| 0.67  | 0.33  |
| 0.98  | 0.02  |
| 0.025 | 0.975 |
| 0.92  | 0.08  |
| 0.155 | 0.845 |
| 0.975 | 0.025 |
| 0.79  | 0.21  |
| 0.99  | 0.01  |
| 0.515 | 0.485 |
| 0.99  | 0.01  |
| 0.995 | 0.005 |
| 0.495 | 0.505 |
| 0.7   | 0.3   |
| 0.82  | 0.18  |
| 1     | 0     |
| 1     | 0     |
| 1     | 0     |
| 0.985 | 0.015 |
| 0.995 | 0.005 |
+-------+-------+